@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@mixin h1{
    font-size: map-get($font-sizes, "h1" );
    font-weight: map-get($font-weights, "bold" );
    line-height: map-get($font-weights, "h1" );
}

@mixin h2{
    font-size: map-get($font-sizes, "h2" );
    font-weight: map-get($font-weights, "bold" );
    line-height: map-get($font-weights, "h2" );
}

@mixin h3{
    font-size: map-get($font-sizes, "h3" );
    font-weight: map-get($font-weights, "bold" );
    line-height: map-get($font-weights, "h3" );
}

@mixin h4
{
    font-size: map-get($font-sizes, "h4" );
    font-weight: map-get($font-weights, "bold" );
    line-height: map-get($font-weights, "h4" );
}

@mixin h5
{
    font-size: map-get($font-sizes, "h5" );
    font-weight: map-get($font-weights, "bold" );
    line-height: map-get($font-weights, "h5" );
}

@mixin h6
{
    font-size: map-get($font-sizes, "h6" );
    font-weight: map-get($font-weights, "bold" );
    line-height: map-get($font-weights, "h6" );
}

@mixin paragraph 
{
    font-size: map-get($font-sizes, "par" );
    font-weight: map-get($font-weights, "normal" );
    line-height: map-get($font-weights, "par" );
}

@mixin caption
{
    font-size: map-get($font-sizes, "capt" );
    font-weight: map-get($font-weights, "normal" );
    line-height: map-get($font-weights, "par" );
}

@mixin paragraph-mobile
{
    font-size: map-get($font-sizes, "par-mobile" );
    font-weight: map-get($font-weights, "normal" );
    line-height: map-get($font-weights, "par-mobile" );
}