$primary-color-blue : #343F56;
$primary-color-orange : #FA9201;
$primary-color-tan : #F5E4C6;
$primary-color-red : #EC4445;
$neutral-color-grey : #F8F8F8;

$font-sizes : (
    "h1" : 80px,
    "h2" : 48px,
    "h3" : 32px,
    "h4" : 24px,
    "h5" : 16.8px,
    "h6" : 14px,
    "par": 16px, 
    "par-mobile" : 14px,
);

$font-weights : (
    "bold"      : 700,
    "semi-bold" : 500,
    "normal"    : 400,
    "light"     : 300,
);

$line-heights : (
    "h1" : 96px,
    "h2" : 54px, 
    "h3" : 40px,
    "h4" : 28px, 
    "h5" : 20px,
    "h6" : 20px,
);
