.navbar-brand{
    display: inline-block;
    width: 30px;
}
.navbar{
    z-index: 9999;
    backdrop-filter: blur(10px);
}
.navbar::after{
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    position: absolute;
    background-color: #F8F8F8;
    opacity: .5;
}
.brand-title{
    font-family: 'poppins', Arial;
}
// HAMBURGER MENU
.menu {
    // background-color: black;
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .6s;
}


.hamburger,
.hamburger::after,
.hamburger::before {
    width: 1.5em;
    height: .2em;
    background-color: #343F56;
    border-radius: 5px;
    transition: all .5s;
}


.hamburger::after,
.hamburger::before {
    content: '';
    position: absolute;
}


.hamburger::after {
    transform: translateY(7px);
}

.hamburger::before {
    transform: translateY(-7px);
}

.menu.open .hamburger {

    transform: rotate(45deg);
    background: transparent;
}


.menu.open .hamburger::before {
    transform: rotate(0deg)
}

.menu.open .hamburger::after {

    transform: rotate(-90deg)
}
.nav-brand{
    position: relative;
    z-index: 10;
}
// END OF HAMBURGER MENU

// NAV-LINKS
.nav-collaps{
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 5;
    transition: .6s;
    transform: translateY(100%);
    // clip-path: circle(0% at 50% 50%);
}
.nav-collaps::after{
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    z-index: 1;
    right: 0;
    background-image: url('../../Assets/img/texture-blue.svg');
    background-size: auto;
    background-repeat: repeat-x;
    height: 100px;
    // animation: flip 5s linear forwards infinite ;

}


.nav-collaps.show{
    transform: translateY(0%);
}



.hover{position: relative; }
.hover::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #343F56;
    // background-image: url('../../Assets/img/texture.svg');
    bottom: 50%;
    left: -50px;
    opacity: 0;
    transform: rotate(0deg) translateX(-20%) ;
    transition: .3s;
}

.hover:hover::after{
    
    opacity: 1;
    transform: rotate(270deg) translateX(0%) ;
}