.b{
    position: relative;
}
.b::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 150px;
    background-image: url('../../Assets/img/leaf.svg');
    background-repeat: repeat-x;
    transform: rotate(180deg) translateY(40%);
    filter: blur(20px);
    z-index: 0;
}

.about-wrapper{
    position: relative;
    z-index: 1;
}
.logo-console-wrapper{
    width: 200px;
    transform: rotate(45deg);
}
.agenda-logo-wrapper{
    width: 200px;
    position: absolute;
    bottom: -20%;
    left: 0;
    transform: rotate(45deg);

}
.borders-V{
    width: 0.25rem;
    height: 200px;
    z-index: 3;
}
.borders-H{
    height: 0.25rem;
    width: 90%;
    z-index: 3;
}



.penugasan-logo-wrapper{
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-45deg);
}

@media (min-width: 768px) {
 
    .b::after{
        transform: translateY(0) rotate(180deg);
    }

    
}
