.b{
    position: relative;
    padding : 80px 0px;
    z-index: 1;
    font-family: 'Poppins',sans-serif;

    h3 {
        font-weight: 500;
    }

    a {
        text-decoration: none;
    }

    .container {
        position: relative;
        z-index: 2;
    }
}

.b::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 150px;
    background-image: url('../../Assets/img/leaf.svg');
    background-repeat: repeat-x;
    transform: rotate(180deg) translateY(40%);
    filter: blur(20px);
}

iframe {
    width : 70vmin;
    aspect-ratio: 16/9;
}


@media (min-width: 768px) {
 
    .b::after{
        transform: translateY(0) rotate(180deg);
    }
    
}
