.event-bg-wrapper{
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    width: 300px;
}

.card-event-size{
    margin: .2em;
    aspect-ratio: 2/1;
}

@media (min-width: 768px) {
    
    .card-event-size{
        aspect-ratio: 3/4 !important;
    }
}
