.card-small {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 4/1;
    border-radius: 10px;
    overflow: hidden;
    min-height: 10rem;
    max-width: 100%;

    .texture-bottom-big {
        width : 30%;
        position: absolute;
        bottom: 0;
        right: 0;
        transform : translate(-5%, 10%);
        opacity: 0.15;
    }

    @media screen and (max-width : 768px) {
        max-width: 100%;
        min-height: 7rem;

        .texture-bottom-big {
            width: 20vmax;
        }
    }


}