.about-nav-wrapper{
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}
.content{
    max-height: fit-content;
}

.logo-akt{
    width: 80px;
}

.logo-kelompok{
    width: 8rem;
}

@media (min-width: 992px) {
    .about-nav-wrapper{
        min-height: 29.5em;
    }

    .content{
        max-height: 25em;
    }
 
}