.agenda {

    .texture-logo-agenda {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 18vmax;
        transform: rotate(30deg) translate(20%, 25%);
    }

    .texture-logo-penugasan {
        position: absolute;
        right: 0;
        top: 0;
        width: 12vmax;
        transform: rotate(-30deg) translate(15%, 10%);
    }
}
