
.card-wrapper{
    min-height: 240px;
}
.card-title{
    z-index: 1;
}
.card-element{
    z-index: 0;
    opacity: .1;
}
.rounded{
    border-radius: 20px !important;
}

.texture-top-left, .texture-bottom-right{
    width: calc(1.5rem + 9vw);

}
.texture-top-left{
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.texture-bottom-right{
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}
.texture-top-center{
    top: 0;
    right: 50%;
    transform: translate(50%, -70%);
}
.texture-bottom-center{
    bottom: 0;
    right: 50%;
    transform: translate(50%, 70%);
}

.wrapper{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pointer{
    cursor: pointer;
}




// .anime-flip{
//     animation: flip 5s linear forwards infinite ;
// }

@keyframes flip{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}