.card-hover:hover .element-bg{
    transform: scale(1.3);
}
.element-bg{
    transition: .3s;
    transform: scale(1);
}

.card-title{
    z-index: 1;
}
.card-element{
    z-index: 0;
    opacity: .1;
}
.card-rounded{
    border-radius: 1rem ;
}

.texture-top-left, .texture-bottom-right, .texture-bottom-center, .texture-bottom-left, .texture-top-center, .texture-top-right{
<<<<<<< HEAD
    // width: calc(1.5rem + 9vw);
    // width: 20vmax;
    width: calc(2.5rem + 20vmin);

    // @media screen and (min-width : 768px) {
    //     width : 15vmax;
    // }
=======
    width: calc(2.5rem + 20vmin);
>>>>>>> e2594a432fdb7c07fa20e41393e2abd01a554b90
}

.texture-top-left{
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.texture-bottom-right{
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
}
.texture-bottom-left{
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
}
.texture-top-right{
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}
.texture-top-center{
    top: 0;
    right: 50%;
    transform: translate(50%, -70%);   
}   
.texture-bottom-center{
    bottom: 0;
    right: 50%;
    transform: translate(50%, 70%);
}

.wrapper{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.pointer{
    cursor: pointer;
}


.card-wrapper-default{
    min-height: 15rem;
}

.anime-flip{
    animation: flip 5s linear forwards infinite ;
}

@keyframes flip{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
