.agenda-bg-wrapper{
    bottom: 0;
    right: 0;
    transform: translate(25%, 25%);
    width: 300px;
}
.card-agenda-size{
        margin: .2em;
        aspect-ratio: 2/1;
}

@media (min-width: 768px) {
    
    .card-agenda-size{
        aspect-ratio: 3/4 !important;
    }
}
