.one,
.two,
.three,
.four {
    top: 0 ;
}

.five,
.six,
.seven,
.eight {
    bottom: 0 ;
}

.one,
.five {
    left: 0 ;
    
}

.two,
.six {
    left: 25% ;
}

.three,
.seven {
    left: 50% ;
}

// .one, .six, .four{
//     animation: blur 3s alternate infinite;
// }

.four,
.eight {
    left: 75% ;
}

@keyframes blur {
    from{
        // opacity: .5;
        filter: blur(20rem);
    }
    to{
        // opacity: .75;
        filter: blur(10rem);

    }
}
/* .bg-logo {
        z-index: 2;
        margin: auto;

        img {
            transform: translateY(-10%) scale(1.5);
            opacity: 0.15;
            width: 20vmax;
        }
    }

    . */