.about-nav-wrapper{
    border-radius: 20px;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
}

.logo-akt{
    width: 80px !important;
}
.arrow-down{
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}
.content-parent{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-child{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
}

.hash::before, .hash-dekstop::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 0px solid #343F56;
    transition: .3s;
}
.hash::before{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.hash:hover::before, .hash-dekstop:hover::before{
    border-left: 10px solid #343F56;

}

.hash, .hash-dekstop{
    border-radius: 0 !important;
}
.hash-dekstop{
    width: 100%;
    
}

.wrapper-content{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.drop-down{
    top: 0;
    width: 100%;
    height: fit-content;
    border-radius: 16px;
    z-index: 3;
}
.logo-kelompok{
    width: 8rem !important;
}

// .content, .about-nav-wrapper {
//     max-width: 100%;
// }
.link{
    cursor: pointer;
}

.magazine{
    .container{
        padding: 80px 0!important;
    }
}


.texture-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    transform: translate(-50%, -50%);
}

.texture-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    transform: translate(50%, -50%);
}



@media (min-width: 992px) {
    .about-nav-wrapper{
        min-height:70vmin;
    }

    .content{
        max-height : 100%;
        aspect-ratio: 20/9 !important;
    }

    .link-page{
        width : 20% !important;
    }
 
}