// Color Pallete
$blue: #343F56;
$orange: #FA9201;
$cream: #F5E4C6;
$red: #EC4445;
$grey: #F8F8F8;

 $theme-colors: (
    "orange": $orange,
    "red": $red,
    "blue": $blue,
    "grey": $grey,
    "cream": $cream
);


/* The following line can be included in a src/App.scss */


// @import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
}

.three-card-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;

    .row {
        margin : auto;
    }
}

.card-component {
    overflow: hidden;
    min-height: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    border-radius: 10px;
}

h3 {
    position: relative;
    z-index: 2;
    font-weight : 700;
}

img {
    width: 100%;
}

.texture-top-left {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 20vmax;
}

.texture-top-right {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    width: 20vmax;
}


.texture-bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    width: 20vmax;
}

.texture-bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    width: 20vmax;
}

.texture-top-center {
    position: absolute;
    top: 0;
    transform: translateY(-70%);
    width: 15vmax;
}

.texture-bottom-center {
    position: absolute;
    bottom: 0;
    transform: translateY(70%);
    width: 15vmax;
}

.texture-logo-center {
    position: absolute;
    width: 35%;
    z-index: 1;
}

.texture-logo-center-rotateright {
    transform: rotate(35deg);
}

.texture-img {
    opacity: 0.15;
}

.card-clickable {
    transition : transform 0.25s ease-in-out;

    h3 {
        transition : transform 0.25s ease-in-out;
    }
}

.card-clickable:hover {
    transform: scale(1.025);
    transition : transform 0.25s ease-in-out;
    
    h3 {
        transform: scale(1.2);
        transition : transform 0.25s ease-in-out;
        color : #F5F5F5;
    }
}


