@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Poppins&display=swap');

// Color Pallete
$blue: #343F56;
$orange: #FA9201;
$cream: #F5E4C6;
$red: #EC4445;
$grey: #F8F8F8;

 $theme-colors: (
    "orange": $orange,
    "red": $red,
    "blue": $blue,
    "grey": $grey,
    "cream": $cream
);

/* The following line can be included in a src/App.scss */

// @import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";

* {
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
section{
    min-height: 100vh;
}

.card-component {
    overflow: hidden;
    min-height: 240px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
    border-radius: 10px;
}
a{
    text-decoration: none !important;
}

h3 {
    position: relative;
    z-index: 2;
    font-weight : 700;
}

img {
    width: 100%;
}




