.hero-banner{
    font-family: 'Cinzel Decorative', poppins;
}

.blur{
    filter: blur(2px)
}

.banner{
    position: relative;
    background-image: url('../../Assets/img/bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    .hero{
        position: relative;
        z-index: 2;
    }
}

.banner::after{
    content: '';
    position: absolute;
    background-image: url('../../Assets/img/leaf.svg');
    bottom: 0;
    left: 0;
    right: 0;
    min-height: 150px;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: bottom center;
    z-index: 3;
    transform: translateY(20px);
}
.coin{
    width: calc(10rem + 20vw);
    // margin-bottom: -65px;
}
.coin-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
}


.mahardika{
    font-size: calc(1.325rem + .9vw);
}

.cakrabinaya{
    font-size: calc(1.325rem + 4vmin);
}

.perjuangan{
    font-size: calc(0rem + 3vmin);
}




@media (min-width: 768px) {
    
    .mahardika{
        font-size: 2.5em;
    }
    
    .cakrabinaya{
        font-size: 5.5em;
    }

 
    
}

@media (max-height: 500px) {
    .coin{
        width: 50vmin;
        // margin-bottom: -65px;
    }
    
}

@media (min-height: 1200px) {
    

    .coin{
        width: calc(10rem + 30vh);
        // margin-bottom: -65px;
    }
    
}
    
    

