.card-lini-masa {

    .owl-stage-outer {
        padding : 0rem 0.5rem;
    }

    

    .owl-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .owl-nav {
        .owl-prev {
            color: #343F56 !important;
            width: 2rem !important;
            position: absolute;
            transform: translateX(-50%);
            top : 40%;
            left: 0;
            z-index: 3;
            
            span {
                width: 10rem !important;
                height: 10rem !important;
            }
        }

        .owl-next {
            color: #343F56 !important;
            width: 2rem !important;
            position: absolute;
            transform: translateX(50%);
            top: 40%;
            right: 0;
            z-index: 3;
        }
    }

    .owl-dots {
        margin-top : 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .owl-dot {
            width: 0.75rem !important;
            aspect-ratio: 1/1 !important;
            border: 1px solid #343F56 !important;
            margin: 0px 0.35rem;
            border-radius: 50%;
        }

        .active {
            background-color: #343F56;
        }
    }

    

    
}